@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: Outfit-Regular;
    src: url("../fonts/Outfit/static/Outfit-Regular.ttf");
}
.d-flex {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin: 0px auto !important;
    .login-form {
        max-width: 300px;
    }
    
    .login-form-forgot {
        float: right;
    }
    
    .login-form-button {
        width: 100%;
    }
}
.text-center{
    text-align: center ;
    margin-top: 150px;
}
.poppins{
    font-family: Poppins-Regular;
}
.outfit{
    font-family: Outfit-Regular;
}